---
import { Image } from "astro:assets";
import tylerFront from '../images/tylerFront.jpg'
import Layout from "../Layouts/Layout.astro"
---
<Layout>
	<body>
		<div class="page-container">
			<div class="value-container">
				<ul>
					<li>Jazz</li>
					<li>Lead</li>
					<li>Orchestra</li>
					<li>Classical</li>
					<li>Solo</li>
					<li>Teaching</li>
				</ul>
			</div>
			<div class="image-container">
				<div class="overlay">
				</div>
					<h1>
						<span class="span1">Tyler</span>
						<span class="span2">Helms</span>
					</h1>
					<Image
					class="image" 
					src={tylerFront}
					width={tylerFront.width}
					height={tylerFront.height}
					alt="Tyler in front of a lake"
					/>
				</div>
			<div class="quote-container">
				<p>Lorem ipsum and a bunch of other stuff in a quote - Person</p>
			</div>
		</div>
	</body>
</Layout>
<style>
	.page-container {
		display: flex;
		justify-content: space-evenly;
	}

	.image-container {
		width: 49.5%;
		height: 100vh;
		background-color: black;
		position: relative;
	}

	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 10;
		background-color: rgba(0,0,0,0.25);
	}

	.value-container {
		width: 16.5%;
		font-size: 6rem;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.value-container ul {
		padding-left: 0;
		margin-left: 0;
	}

	.value-container li {
		list-style-type: none;
		font-weight: 700;
		color: rgba(0,0,0,0);
		line-height: 1.75,;
		text-shadow: 1px 1px 4px #adadad;
	}

	.quote-container {
		width: 16.5%;
	}

	.image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	
	h1 {
		position: absolute;
		z-index: 20;
		font-size: 9rem;
		font-weight: 700;
		text-shadow: 2px 2px 10px #000;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: 100%;
		height: 100%;
	}

	.span2 {
		align-self: flex-end;
	}
</style>