---
import { Icon } from 'astro-icon'
---

<footer class="w-full py-8 flex flex-col items-center justify-center gap-4">
    <span class="text-center">Copyright © 2023<span>
    <ul class="text-gray-500 flex items-center gap-8">
        <li class="w-8"><Icon pack="ri" name="facebook-fill"/></li>
        <li class="w-8"><Icon pack="ri" name="instagram-fill"/></li>
        <li class="w-8"><Icon pack="ri" name="youtube-fill"/></li>
    </ul>
</footer>