---
import { Icon } from 'astro-icon'
---

<footer class="w-full py-4 flex flex-col items-center justify-center">
    <span class="text-center">Copyright © 2023<span>
    <ul class="text-gray-500 flex items-center py-4 gap-8">
        <li class="w-8 duration-150 hover:scale-125 hover:text-gray-700"><a href="https://google.com"><Icon pack="ri" name="facebook-fill"/></a></li>
        <li class="w-8 duration-150 hover:scale-125 hover:text-gray-700"><a href="https://google.com"><Icon pack="ri" name="instagram-line"/></a></li>
        <li class="w-8 duration-150 hover:scale-125 hover:text-gray-700"><a href="https://google.com"><Icon pack="ri" name="youtube-fill"/></a></li>
    </ul>
</footer>