<ul>
    <div class="title">
        <li>Tyler Helms</li>
    </div>
    <div class="buttons">
        <a href="/bio"><li>Bio</li></a>
        <a href="/portfolio"><li>Portfolio</li></a>
        <a href="/contact"><li>Contact</li></a>
    </div>
</ul>
<style>
    ul {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    ul.title {
        justify-self: start;
    }

    ul.buttons {

    }
</style>