---
import '@fontsource-variable/playfair-display'
---

<nav>
    <ul class="flex justify-between text-2xl items-center h-20">
        <div>
            <a class="font-extrabold font-playfair-display transition duration-150 hover:scale-110 hover:-translate-y-2"href="/"><li>Tyler Helms</li></a>
        </div>
        <div class="flex gap-8">
            <li><a class="transition duration-150 hover:scale-110 hover:-translate-y-2" href="/Bio">Bio</a></li>
            <li><a class="transition duration-150 hover:scale-110 hover:-translate-y-2" href="/Portfolio">Portfolio</a></li>
            <li><a class="transition duration-150 hover:scale-110 hover:-translate-y-2" href="/Contact">Contact</a></li>
        </div>
    </ul>
</nav>
