---
import { ViewTransitions } from "astro:transitions";
---

<ul class="flex justify-between text-2xl items-center h-20">
    <div>
        <a class="font-extrabold transition duration-150 hover:scale-110 hover:-translate-y-2"href="/"><li>Tyler Helms</li></a>
    </div>
    <div class="flex gap-8">
        <a class="transition duration-150 hover:scale-110 hover:-translate-y-2" href="/Bio"><li>Bio</li></a>
        <a class="transition duration-150 hover:scale-110 hover:-translate-y-2" href="/Portfolio"><li>Portfolio</li></a>
        <a class="transition duration-150 hover:scale-110 hover:-translate-y-2" href="/Contact"><li>Contact</li></a>
    </div>
</ul>
