---
import '@fontsource/source-sans-pro'
import '@fontsource-variable/playfair-display';
import Nav from "../components/Nav.astro" 
import Footer from '../components/Footer.astro';
import { ViewTransitions, fade } from 'astro:transitions';
---

<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="utf-8" />
            <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
            <meta name="viewport" content="width=device-width" />
            <meta name="generator" content={Astro.generator} />
            <title>Tyler Helms</title>
            <ViewTransitions />
        </head>
    <body class="max-w-screen-xl mx-auto font-source-sans-pro px-4">
            <Nav transition:persist />
        <div transition:animate={fade({ duration: '1s' })}>
            <slot />
        </div>
        <Footer />
    </body>
</html>