---
import '@fontsource/source-sans-pro'
import Nav from "../components/Nav.astro" 
---

<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="utf-8" />
            <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
            <meta name="viewport" content="width=device-width" />
            <meta name="generator" content={Astro.generator} />
            <title>Astro</title>
        </head>
    <body>
        <Nav />
        <slot />
    </body>
</html> 
<style>
    html {
        font-family: "Source Sans Pro";
        max-width: 1440px;
        margin: auto;
    }
</style>