---
import '@fontsource/source-sans-pro'
import '@fontsource-variable/playfair-display';
import Nav from "../components/Nav.astro" 
import Footer from '../components/Footer.astro';
import { ViewTransitions, fade } from 'astro:transitions';
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Tyler Helms</title>
        <ViewTransitions />
    </head>
    <body class="md:max-w-screen-xl mx-auto font-source-sans-pro px-4 overflow-x-hidden w-screen">
        <Nav transition:persist />
        <div class="h-24 md:hidden"></div>
        <div transition:animate={fade({ duration: '1s' })}>
            <slot />
        </div>
        <Footer />
    </body>
</html>